{% extends layout %}
{% block content %}
    {{ hello }}<br>
    <ul>
        {% for user in users %}
            <li>{{ user.name|e }}</li>
        {% else %}
            <li>There are no users</li>
        {% endfor %}
    </ul>
{% endblock %}